@import 'parts/login-form.scss';
@import 'parts/homePage.scss';
@import 'parts/navigationBar.scss';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap')
