section{
    padding:50px;
    text-align:center;


form{
    margin:auto;
    width:30%;
    
    text-align:center;

    .linkText {
        text-align: left;
    }

    button {
        width: 100%
    }
}