@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

@import 'parts/template.scss';

@import 'parts/login-form.scss';
@import 'parts/home-page.scss';
@import 'parts/navigation-bar.scss';
@import 'parts/registration-form.scss';
@import 'parts/forgot-password-form.scss';
@import 'parts/admin-competition-list.scss';
@import 'parts/password-change-form.scss';
@import 'parts/view-edit-copetition-form.scss';
@import 'parts/user-details-update-form.scss';
@import 'parts/competition.scss';
