.competition-container {
  font-family: 'Montserrat', sans-serif;

  h4 {
    font-weight: 500;
  }

  h2 {
    font-weight: 600;
  }

  @media (max-width: 992px) {
    h4 {
      font-size: 1rem;
    }
  }

  .divider {
    background: black;
    height: 1vh;
    width: auto;
    margin: 10px;
  }

  .custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .page-item {
      margin: 0 5px;

      .page-link {
        color: black;
        background: white;
        border: 1px solid black;

        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}

.lst-photo {
  width: 100%;

  aspect-ratio: 1.5;

  object-fit: cover;
}

.lsf-photo-drop-list {
  position: relative;

  background-color: rgb(212, 212, 212);
  min-height: 20vh;

  border-radius: 10px;

  cursor: pointer;

  &::before {
    content: " ";

    position: absolute;

    width: 100%;
    height: 100%;

    transform: scale(0.8);

    background-image: url("https://content.hostgator.com/img/weebly_image_sample.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}