.competition-container {
  font-family: 'Montserrat', sans-serif;
  h4 {
    font-weight: 500;
  }
  h2 {
    font-weight: 600;
  }
  @media (max-width: 992px) {
    h4 {
      font-size: 1rem;
    }
  }
  .divider {
    background: black;
    height: 1vh;
    width: auto;
    margin: 10px;
  }

  .custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    .page-item {
      margin: 0 5px;
      .page-link {
        color: black;
        background: white;
        border: 1px solid black;
        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}
