.custom-button-width {
  width: 200px;
}

.container {
  font-family: "Monserrat", sans-serif;
}

.contest {
  padding: 1rem;
  margin-left: 3rem;
}

.card {
  border: none !important;
}

.image-header-text {

  h3 {
    text-align: left;
    padding: 0.5em;
    width: fit-content;
    background: rgb(0, 0, 0) ;
    border-radius: 0% ;
    color: white ;
    position: relative;
    bottom: -2rem;
    left: 5rem;
    z-index: 1;
  }

}

button{

  border-radius: 0% !important;
  border: solid !important;
  border-width: medium !important;
  border-color: black !important;
  color: black !important;
  background-color: white !important;

}

button:hover {
  background-color: black !important;
  border-color: white !important;
  color: white !important;
}
.carousel-buttons {
  button {
  
    position: relative;
    top: -1.5rem;
  }
}
