.custom-button-width {
  width: 200px;
}

.container {
  font-family: "Monserrat", sans-serif;
}

.contest {
  padding: 1rem;
  margin-left: 3rem;
}

.card {
  border: none !important;
  .contest{
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
  }
}

.image-header-text {

  h3 {
    text-align: left;
    padding: 0.5em;
    width: fit-content;
    background: rgb(0, 0, 0) ;
    border-radius: 0% ;
    color: white ;
    position: relative;
    bottom: -2rem;
    left: 5rem;
    z-index: 1;
  }

}


.carousel-buttons {
  button {
    border-radius: 0%;
    border: solid ;
    border-width: medium ;
    border-color: black;
    color: black ;
    background-color: white;
    position: relative;
    top: -1.5rem;
  }
  button:hover {
    background-color: black ;
    border-color: white ;
    color: white ;
  }
}



.carousel-container{
  height:40vh;
  overflow: hidden;
  object-fit: contain;
}
.contest-card{
  button{
    font-size: 12px;
    width: 10rem;
    border-radius: 0%;
    border: solid ;
    border-width: medium ;
    border-color: black;
    color: white ;
    background-color: black;
    position:absolute;
    right:1rem;

  }
  button:hover {
    background-color: white ;
    border-color: white ;
    color: black ;
  }
}