.dropdown-toggle {
  &:after {
    display: none;
  }
}

.nav-dropdown-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  .dropdown-menu {
    border-radius: 0%;
    border: none;
  }
  .dropdown-item:focus,
  .dropdown-item.active{
    background-color: transparent; /* Set the background color to transparent */
    outline: none; /* Remove the default focus outline */
    color:black;
  }
}
