.dropdown-toggle {
  &:after {
    display: none;
  }
}

.nav-dropdown-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
 
  .dropdown-menu{
    border-radius: 0%;
    border: none;

  }
  
  .dropdown-item.active{
    background-color: transparent;
    outline: none; 
    color:black;
  }

  .dropdown-item:focus{
    background-color: transparent;
    outline: none; 
    color:black;
  }

  button{
    border: none !important;
  }
}
