.password-change-form-container {
    font-family: "Montserrat", sans-serif;
  
    h2 {
      font-weight: 700;
    }
  
    button {
      font-size: 12px;
      border-radius: 0%;
      border: solid;
      border-width: medium;
      border-color: black;
      color: white;
      background-color: black;
      width: 100%;
    }
  
    button:hover {
      background-color: white;
      border-color: black;
      color: black;
    }
  
    input,
    select {
      border-radius: 0%;
      border-color: black;
      border-width: 0.2em;
    }
  }
  