.lsf-button {
    width: 100%;

    background-color: black;

    border: solid medium black;
    border-radius: 0;

    font-size: 12px;
    font-weight: 600;
    color: white;

    &:hover {
        background-color: white;

        border: solid medium red;

        color: black;
    }
}

.lsf-image-cover {
    display: inline-block;

    width: 100%;
    max-height: 200px;

    aspect-ratio: 1;

    object-fit: cover;
}